<h1>{{title}}
    {{#if (eq mode "create")}} 글 작성하기
    {{else}} 글 수정하기
    {{/if}}</h1>

<div>

    <form name="boardForm" method="post" 
        {{#if (eq mode "create")}} action="/write"
        {{else}} action="/modify"
        {{/if}}><!--action = form data를 보낼 URL-->
        
        {{#if (eq mode "modify")}}
        <input type="hidden" name="id" value="{{post._id}}"/>
        {{/if}}

        <div>
            <label>제목</label>
            <input type="text" name="title" value="{{post.title}}"/>
        </div>

        <div>
            <label>이름</label>
            <input type="text" name="writer" value="{{post.writer}}"/>
        </div>

        <div>
            <label>비밀번호</label>
            <input type="password" name="password"/>
        </div>

        <div>
            <textarea name="content" cols="50" rows="10">{{post.content}}</textarea>
        </div>

        <div>
            <button type="submit">저장</button>
            <button type="button" onclick="location.href='/'">취소</button>
        </div>
    </form>

</div>